
*{
    margin: 0;
    padding: 0;
}

/*Navigation bar*/
#navbar
{
   display: flex ; 
   align-items: center;
   position: relative;
}
/*Navigation bar: Logo and Image*/
#logo{
    margin: 20px 20px;
}
#logo img
{
    height: 86px;
    margin: 3px 6px;
}

/*Navigation Styling*/
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem ;
}
#navbar ul li a{
    color: aliceblue;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Itim', cursive;

    
}
#navbar ul li a:hover{
    color: rgb(0, 0, 255);
    background-color: aquamarine;
    cursor: pointer;
}
/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-self: center;
}
#home h1{
    text-align: center ;
    color:  cyan;
    font-family: 'Mitr', sans-serif;
    
}
#home p{
    text-align: center ;
    color:  chocolate;
    font-size: 1.5 rem;
    font-family: 'Itim', cursive;
}

#home::before{
    content: "";
    background: url("imgs/OJXTx7KdlyNeE5ZJoKpv--1--b7usx.webp") no-repeat center center /cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
/*Utility classes*/
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.button{
    padding: 6px 18px;
    border: 2px white;
    background-color: white;
    color: royalblue;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: brown;
    color: aquamarine;
}